<!-- views/home.handlebars -->
{{!-- Pass "title" from your route if you want a page title --}}
{{!-- e.g. res.render('home', { title: 'Home', posts }) --}}
<h1 class="text-center mb-4">Latest Posts</h1>

<div class="row">
  {{#each posts}}
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">
            {{this.body}}
          </p>
        </div>
        <div class="card-footer text-muted">
          by {{this.user.username}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
