<!-- views/login.handlebars -->
<form id="login-form">
  <label for="username-login">Username</label>
  <input type="text" id="username-login" name="username" />

  <label for="password-login">Password</label>
  <input type="password" id="password-login" name="password" />

  <button type="submit">Log In</button>
</form>

<script src="/js/login.js"></script>
